/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height}
        $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/**
 * Site header, content, and footer
 */
.site-header {
    /* Add your header styles here */
}

.page-content {
    flex: 1; /* This makes the content area expand to fill the available space */
}

.site-footer {
    background-color: $background-color;

    color: $text-color;
    padding: $spacing-unit;
    box-shadow: 0 0 10px $background-color;
    margin-top: auto; /* This ensures the footer stays at the bottom */
}

/**
 * Responsive container and columns
 */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 15px;
}

@media (max-width: 768px) {
    .col {
        flex-basis: 100%;
    }
}

/**
 * Responsive typography
 */
body {
    font-size: 16px;
    line-height: 1.6;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * `main` element
 */
main {
    display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }

    .social-media-list &:hover {
        text-decoration: none;

        .username {
            text-decoration: underline;
        }
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    @include relative-font-size(1.125);
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    @include relative-font-size(0.9375);
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Wrapper
 */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
    li + li {
        padding-top: 5px;
    }
}

/**
 * Tables
 */
table {
    margin-bottom: $spacing-unit;
    width: 100%;
    text-align: $table-text-align;
    color: lighten($text-color, 18%);
    border-collapse: collapse;
    border: 1px solid $grey-color-light;
    tr {
        &:nth-child(even) {
            background-color: lighten($grey-color-light, 6%);
        }
    }
    th,
    td {
        padding: ($spacing-unit / 3) ($spacing-unit / 2);
    }
    th {
        background-color: lighten($grey-color-light, 3%);
        border: 1px solid darken($grey-color-light, 4%);
        border-bottom-color: darken($grey-color-light, 12%);
    }
    td {
        border: 1px solid $grey-color-light;
    }
}

/**
 * Copy Code Button
 */
.copy-code-button {
    display: block;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 4px;
    z-index: 10; /* Ensure the button is above the code block */

    &:hover {
        background: #444;
    }
}

/**
 * Dark Mode Toggle
 */
.dark-mode-toggle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: white 2px solid;
    cursor: pointer;
    background: black; /* Default for light mode */

    &.dark-mode {
        background: white;
    }
}

body.dark-mode .dark-mode-toggle {
    background: white;
    border: black 2px solid;
}

body.light-mode .dark-mode-toggle {
    background: black;
}

/**
 * Dark Mode Styles
 */
.dark-mode {
    background-color: $dark-background-color;
    color: $dark-text-color;

    .site-header {
        background-color: $dark-background-color;
        color: $dark-text-color;
        box-shadow: 0 0 10px $background-color;
    }

    .site-footer {
        background-color: $dark-background-color;
        color: $dark-text-color;
        box-shadow: 0 0 10px $background-color;
    }

    a {
        color: $dark-brand-color;

        &:visited {
            color: darken($dark-brand-color, 15%);
        }

        &:hover {
            color: $dark-text-color;
        }
    }

    blockquote {
        color: $grey-color-dark;
        border-left: 4px solid $grey-color-light;
    }

    table {
        color: lighten($dark-text-color, 18%);
        border: 1px solid $grey-color-light;
        tr {
            &:nth-child(even) {
                background-color: $grey-color-light;
            }
        }
        th {
            background-color: lighten($grey-color-light, 3%);
            border: 1px solid darken($grey-color-light, 4%);
            border-bottom-color: darken($grey-color-light, 12%);
        }
        td {
            border: 1px solid $grey-color-light;
        }
    }

    .copy-code-button {
        display: block;
    }

    .copy-button {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        font-size: 14px;
        cursor: pointer;
        border: none;
        background: black;
        color: white;
        border-radius: 4px;
        z-index: 10; /* Ensure the button is above the code block */

        &:hover {
            background: red;
            color: black;
        }
    }

    /**
     * Code formatting
     */
    pre,
    code {
        @include relative-font-size(0.9375);
        border: 1px solid $grey-color-light;
        border-radius: 3px;
        background-color: black;
    }

    code {
        padding: 1px 5px;
    }

    pre {
        padding: 8px 12px;
        overflow-x: auto;

        > code {
            border: 0;
            padding-right: 0;
            padding-left: 0;
        }
    }
}

/**
 * Media Queries for Additional Responsiveness
 */
@media (max-width: 1024px) {
    .container {
        padding: 0 10px;
    }

    .wrapper {
        padding-right: $spacing-unit / 1.5;
        padding-left: $spacing-unit / 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: $spacing-unit / 4;
    }

    pre,
    code {
        font-size: 90%;
    }

    table th,
    table td {
        padding: ($spacing-unit / 2) ($spacing-unit / 3);
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0 5px;
    }

    .wrapper {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    pre,
    code {
        font-size: 85%;
    }

    table th,
    table td {
        padding: ($spacing-unit / 3) ($spacing-unit / 4);
    }
}
